h1 {
    margin-bottom: 5px;
}
body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #000000, #171717);
    color: white;
}
a {
    text-decoration: none;
    color: #ff7eb8;
    transition: color 0.3s ease;
}

a:hover {
    color: #d788ff;
}